<!DOCTYPE html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Welcome to Prediction Analysis tool</h1>
    <h3>Login to access the portal</h3>
    <form action="/submit" method='POST'>
        <label for="username">UserName:</label><br>
        <input type="text" id="username" name="username" value=""><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" value=""><br><br>
        <input type="submit" value="Submit">
    </form>
</body>